@import "../common/variables";
@import "../common/fonts";

@keyframes slideTransition {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeTransition {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.root {
  position: absolute;
  top: calc(100% + 5px);
  right: 5px;
  border-radius: 2.5px;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.15);
  background-color: map-get($colors, "background");
  z-index: 1000;
  overflow: hidden;
  cursor: default;
  animation: slideTransition 0.25s;
  & * {
    animation: fadeTransition 0.25s;
  }
}

.dropdownOption {
  display: flex;
  & > * {
    margin: 0 2.5px;
  }
}

ul.dropdownList {
  margin: 5px 0;
  min-width: 200px;
  max-height: 300px;
  & > li.option {
    & > .icon {
      width: 35px;
      padding-right: 10px;
    }
    cursor: pointer;
    height: fit-content;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: $lato;
    color: black;
    &:hover {
      background-color: lighten(map-get($colors, "primary"), 30);
    }
    &.danger {
      font-weight: 500;
      color: map-get($colors, "red");
    }
  }
}
