@import "../common/variables";
@import "../common/fonts";

@keyframes slideTransition {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.root {
  position: relative;
}

.content {
  position: absolute;
  margin: auto;
  width: fit-content;
  border-radius: 2.5px;
  box-shadow: $shadow;
  background-color: map-get($colors, "background");
  z-index: 1000;
  cursor: default;
  animation: slideTransition 0.25s;

  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  &.top {
    bottom: calc(100% + 15px);
  }
  &.bottom {
    top: calc(100% + 15px);
  }
}

.dropdownOption {
  display: flex;
  & > * {
    margin: 0 2.5px;
  }
}

ul.dropdownList {
  margin: 5px 0;
  min-width: 200px;
  max-height: 300px;

  & > li.option {
    & > .icon {
      width: 35px;
      padding-right: 10px;
    }
    cursor: pointer;
    height: fit-content;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: $lato;
    color: black;
    &:hover {
      background-color: lighten(map-get($colors, "primary"), 30);
    }
    &.danger {
      color: map-get($colors, "red");
    }
  }
}
