@import "../common/variables";

.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: $breakpoint-medium) {
    position: sticky;
    top: $headerHeight;
    right: 0;
  }

  @media screen and (max-width: $breakpoint-medium) {
    display: none;
  }
}

.section {
  background-color: map-get($colors, "background");

  & > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    & > h4 {
      margin: 0;
    }
  }
  & > .empty {
    height: 150px;
  }
}
