@import "../common/variables";

.latest {
  height: 2000px;
}

section.section {
  padding: 2.5%;

  @media (max-width: $breakpoint-small) {
    padding: 2.5px;
  }
}

.blogHighlights {
  display: flex;
  & > * {
    flex: 1;
  }

  @media (max-width: $breakpoint-large) {
    flex-direction: column;
  }
}

.vertical {
  display: flex;
  flex-direction: column;

  & > * {
    flex: 1;
  }
}

div.divider {
  flex: 0 1 auto;
  width: 20px;
  height: 100%;
}

.horizontal {
  display: flex;

  & > * {
    flex: 1;
  }

  @media (max-width: $breakpoint-small) {
    flex-direction: column;
  }
}
