@import "../common/variables";

.latest {
  height: 2000px;
}

section.section {
  padding: 25px 15px;

  @media (max-width: $breakpoint-small) {
    padding: 10px;
  }
}

.blogHighlights {
  display: flex;
  flex-direction: column;
  & > * {
    flex: 1;
  }
}

.vertical {
  display: flex;
  flex-direction: column;

  & > * {
    flex: 1;
  }
}

div.divider {
  flex: 0 1 auto;
  width: 20px;
  height: 100%;
}

.horizontal {
  display: flex;

  & > * {
    flex: 1;
  }

  @media (max-width: $breakpoint-small) {
    flex-direction: column;
  }
}

.grid {
  margin: 25px -5px;

  @media (max-width: $breakpoint-small) {
    margin: 25px -2.5px;
  }
}

.row {
  display: flex;
  & > * {
    flex: 1;
    margin: 0 5px;

    @media (max-width: $breakpoint-small) {
      margin: 0 2.5px;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;

  & > * {
    margin: 5px 0;

    @media (max-width: $breakpoint-small) {
      margin: 2.5px 0;
    }
  }
}
