@import "../common/variables";

.root {
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: calc(100vh);
  padding-right: 25px;

  @media (max-width: $breakpoint-large) {
    width: 100px;
    padding-right: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: $breakpoint-small) {
    display: none;
  }
}

@mixin activeLink() {
  color: map-get($colors, "primary");
}

.navItem {
  height: 60px;
  display: flex;
  width: fit-content;
  align-items: center;
  font-size: 20px;
  padding: 0 25px;
  margin: 10px 0;
  color: map-get($colors, "lightGrey");
  font-family: $mukta;
  border-radius: 60px;

  transition: background-color 0.25s;
  transition: color 0.25s;

  & > .icon {
    width: 45px;
  }

  & p.label {
    color: inherit;
    font-weight: 600;
  }

  &:hover {
    @include activeLink();
    background-color: map-get($colors, "highlight") !important;
  }

  &.active {
    @include activeLink();
    background-color: map-get($colors, "altBackground") !important;
  }

  @media (max-width: $breakpoint-large) {
    margin: 5px 0;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 0;

    & > .icon {
      width: fit-content;
    }
    & p.label {
      display: none;
    }
  }
}

.logo {
  margin: 50px 0 0 15px;
  height: 32px;
  width: auto;
  @media (max-width: $breakpoint-large) {
    display: none;
  }
}

ul.navigation {
  display: flex;
  flex-direction: column;
  margin: 50px 0;

  @media (max-width: $breakpoint-large) {
    margin: 15px 0;
    align-items: center;

    & > * {
      margin: 10px 0;
    }
  }
}

ul.contentActions {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;

  @media (max-width: $breakpoint-large) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
      margin: 10px 0;
    }
  }
}
