@import "../common/variables";

.root {
  position: sticky;
  top: 115px;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0px 0px 25px 0px;
  height: calc(100vh - 80px - 80px);
  max-height: 600px;
  background-color: map-get($colors, "background");
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: $shadow;
  border-radius: 5px;
  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: $breakpoint-medium) {
    display: none;
  }
}

.noUser {
  padding: 15px;
  & > p {
    font-size: 14px;
    line-height: 20px;
    color: #777777;
    margin-bottom: 10px;
  }
}

.section {
  border-style: solid;
  border-width: 0px 0px 0.5px 0px;
  border-color: map-get($colors, "border");
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  & > h4 {
    margin: 0px;
    font-weight: 600;
  }
}
