@import "../common/variables";
@import "../common/fonts";

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  transition: background-color 0.25s;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

@keyframes modalContentAnim {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes mobileModalContentAnim {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0px);
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 95%;
  background-color: map-get($colors, "background");
  overflow-x: hidden;
  overflow-y: scroll;

  @media (max-width: $breakpoint-small) {
    padding: 10px;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    animation: mobileModalContentAnim 0.25s;
  }

  @media (min-width: $breakpoint-small + 1) {
    margin-top: 50px;
    padding: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2.5px;
    height: fit-content;
    max-height: calc(100vh - 100px);
    animation: modalContentAnim 0.25s;
  }
}
