@import "../common/variables";

.root {
  display: flex;

  padding: 0 20% 0 20%;

  @media screen and (max-width: $breakpoint-small) {
    padding: 0;
    flex-direction: column-reverse;
  }
  @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
    padding: 0;
  }
  @media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
    padding: 0 5% 0 5%;
  }
  @media screen and (min-width: $breakpoint-large) and (max-width: $breakpoint-xl) {
    padding: 0 5% 0 5%;
  }
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $breakpoint-small) {
    border: none;
  }
}

.main {
  padding: 25px 15px;

  @media (max-width: $breakpoint-small) {
    padding: 5px;
    margin-bottom: $smallMenuHeight;
  }

  @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
    padding: 0 10px 0 0;
  }
}

.extraContent {
  width: 250px;
  padding: 15px;

  @media screen and (max-width: $breakpoint-medium) {
    display: none;
  }
}
