@import "../common/variables";

.listItem {
  flex: 1;
  display: flex;
  border-radius: 5px;
  padding: 10px 0;

  cursor: pointer;
  transition: opacity 0.25s;

  & .image {
    width: 30%;
    min-width: 150px;
    height: 100%;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 10px;

    @media (max-width: $breakpoint-small) {
      width: 100%;
      height: 200px;
    }
  }

  & .summary {
    font-size: 14px;
    line-height: 18px;
    margin: 2.5px 0;
  }

  & h3 {
    margin-bottom: 1%;
  }

  & .content {
    flex: 1;
  }

  &:hover {
    opacity: 0.75;
    z-index: 0;
  }

  @media (max-width: $breakpoint-small) {
    flex-direction: column;
  }
}

.loading {
  cursor: default;
  &:hover {
    opacity: 1;
  }
}

.altListItem {
  position: relative;
  vertical-align: middle;
  border-radius: 15px;
  height: auto;
  width: 100%;
  border: none;
  outline: none;
  background-color: #e2e2e2;
}
