@import "../common/variables";
@import "../common/fonts";

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

.searchbar {
  display: flex;
  align-items: center;
  height: 45px;
  flex: 1;
  border-style: solid;
  border-width: 0.5px;
  border-color: map-get($colors, "border");
  border-radius: 45px;
  padding: 0px 15px;
  transition: border-color 2s;
  transition: box-shadow 0.25s;
  &.active {
    border-color: map-get($colors, "background");
    box-shadow: $shadow;
  }
  &:hover {
    border-color: map-get($colors, "background");
    box-shadow: $shadow;
  }
  &.dark {
    border-color: #333333;
    &.active {
      box-shadow: none;
      border-color: #555555;
      background-color: #111111;
    }

    &:hover {
      box-shadow: none;
      background-color: #111111;
    }
  }
  & > .icon {
    font-size: 16px;
    color: map-get($colors, "secondary");
    padding-right: 15px;
  }
  &.dark > input[type="text"] {
    color: white;
    @include placeholder {
      color: #e2e2e2;
    }
  }
  & > input[type="text"] {
    background-color: inherit;
    height: 100%;
    width: calc(100%);
    outline: none;
    border-style: none;
    font-family: $lato;
    font-size: 15px;
    font-weight: 300;
    color: map-get($colors, "text");
    @include placeholder {
      color: map-get($colors, "grey");
    }
  }
}
