@import "../common/variables";

.root {
  display: flex;
  margin-bottom: 25px;
  @media screen and (max-width: $breakpoint-medium) {
    flex-direction: column;
  }
}

.navigation {
  display: flex;
  border-style: solid;
  border-width: 0 0 0.5px 0;
  border-color: map-get($colors, "border");

  @media screen and (max-width: $breakpoint-medium) {
    flex-direction: column;
    padding-bottom: 15px;
  }

  & > a.navLink {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: $lato;
    padding: 20px 25px;
    margin: 10px 0 0 0;

    @include buildTransition(opacity, 0.25s, linear);

    @media screen and (max-width: $breakpoint-medium) {
      padding: 10px 5px;
    }
    &.active {
      font-weight: 600;
      padding: 20px 25px 18px 25px;
      border-style: solid;
      border-width: 0 0 2px 0;
      border-color: map-get($colors, "primary");
      background-color: lighten(map-get($colors, "primary"), 30);
      @media screen and (max-width: $breakpoint-medium) {
        border-width: 0 0 0 2px;
        padding: 10px 5px 8px 15px;
      }
    }
    &:hover {
      background-color: lighten(map-get($colors, "primary"), 30);
    }
    &.danger {
      color: map-get($colors, "red");
    }
  }
}
