@import "./common/text";

@import "./common/variables";

a {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: map-get($colors, "text");
  cursor: pointer;
}

body {
  height: 100%;
  margin: 0;
  background-color: map-get($colors, "background");
  overflow-x: hidden;
  font-family: $lato;
  overflow-y: scroll;
  overflow-y: overlay;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

hr {
  border-top: map-get($colors, "border");
  margin: 0;
}
