@import "../variables";

.root {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 25px 15px;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: map-get($colors, "border");

  @include buildTransition(background-color, 0.25s, linear);

  &.loading {
    & > .image {
      height: 125px;
      width: 33%;
      border-radius: 5px;
      background-color: #f2f2f2;
      @media screen and (max-width: $breakpoint-small) {
        width: 100%;
        height: 200px;
      }
    }
    &:hover {
      background-color: map-get($colors, "background") !important;
    }
  }
  &:hover {
    background-color: lighten(map-get($colors, "primary"), 30);
  }

  @media screen and (max-width: $breakpoint-small) {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 0;
  }

  & > .image {
    height: 100%;
    width: 25%;
    border-radius: 5px;
    object-fit: cover;
    background-color: map-get($colors, "altBackground");

    @media screen and (max-width: $breakpoint-small) {
      width: 100%;
      height: auto;
    }
  }

  & > .content {
    height: 200px;
    flex: 1;
    height: 100%;
    padding-left: 2.5%;
    @media screen and (max-width: $breakpoint-small) {
      padding-left: 0;
    }
    display: flex;
    flex-direction: column;
    & > h4 {
      margin: 0 0 5px 0;
      line-height: 32px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      @media screen and (max-width: $breakpoint-small) {
        margin: 10px 0;
        height: auto;
      }
    }
    & > p {
      font-size: 16px;
      color: black;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
