@import "../variables";

.root {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  & .name {
    margin-left: 10px;
  }
}

.name {
  font-size: 14px;
  font-weight: 600;
  color: map-get($colors, "text");

  &.lg {
    font-size: 20px;
    line-height: 22px;
  }
  &.md {
    font-size: 16px;
    line-height: 18px;
  }
  &.sm {
    font-size: 14px;
    line-height: 16px;
  }
}
