@import "../variables";

header.header {
  position: sticky;
  top: 0;
  left: 0;
  height: $headerHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: map-get($colors, "background");
  z-index: 1000;

  @media screen and (max-width: $breakpoint-small) {
    padding: 0 5px;
  }

  @media screen and(min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
    padding: 0 10px 0 0;
  }
}

.pageInfo {
  display: flex;
  align-items: center;
}

.menuAction {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $breakpoint-small) {
    display: none;
  }
}

h3.title {
  margin: 0;
}

ul.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 -10px;

  & li.navItem {
    margin: 0 10px;
  }
}

a.navOption {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

div.loadingNavOption {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: map-get($colors, "highlight");
}

.profileImage {
  object-fit: cover;
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

.backButton {
  margin-right: 10px;
}
